/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for ii2 (IMPIMBA)
 * -------------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

// TODO enable singularity
// singularity {
//     runOptions = '--cleanenv  -B /scratch:/scratch -B /resources:/resources -B /groups:/groups '
// }

docker.enabled = true

process {
    //container = "TODO.simg"
    executor = 'local'
    withName: 'bcl2fastq' {
        container = 'gerlichlab/bcl2fastq:latest'
    }
}